
                      html{font-size: 62.5%}
body{
    background: #68cdd5;
    color: #fafafa;
    font-size:1rem;
}
h1{text-align: center;
    margin-bottom:10rem;
}

p{
    font-size: 1.7rem;
    margin-bottom: 20%;
}
.div2-1 p,.div1-1 p{
    font-size:1rem;
    margin:0;padding:0;
    text-align:center;
}
.div0{
    padding: 8rem 10% 3rem 10%;
    margin-bottom: 10rem;
}
.div1{
    margin-top: 3rem;
    background-color: #68cdd5;
    width:10rem;
    height:10rem;
    float: left;

}
.div2 {
    margin-top: 3rem;
    background-color: #68cdd5;
    width: 10rem;
    height: 10rem;
    float: right;

}
.div1-1{
    float: left;
    width:55px;
}
.div2-1{
    float: right;
    width:55px;
}


